aws-cdk-lib==2.206.0
constructs>=10.0.0,<11.0.0
aws-cdk.aws-lambda-python-alpha==2.175.1a0
strands-agents>=1.2.0
strands-agents-tools>=0.2.3
bedrock-agentcore==0.1.1
bedrock-agentcore-starter-toolkit
boto3
botocore
